.header {
  background-color: lightgray;

  & * {
    padding: 2rem;
  }
}

.profile {
  padding: 2rem;
}

.button_row {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: right;
  & * {
    margin: 0px 5px;
  }
}
